@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #e3b44f;
  --font-chillax: "Chillax-Variable", sans-serif;
  --font-giloste: "Giloste", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-chillax);
  --font-serif: var(--font-giloste);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
    --primary: #e3b44f;
  }
}

@font-face {
  font-family: "Chillax-Variable";
  src:
    url(../public/fonts/Chillax/fonts/Chillax-Variable.woff2) format("woff2"),
    url(../public/fonts/Chillax/fonts/Chillax-Variable.woff) format("woff"),
    url(../public/fonts/Chillax/fonts/Chillax-Variable.ttf) format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "General-Sans";
  src:
    url(../public/fonts/General-Sans/fonts/GeneralSans-Variable.woff2)
      format("woff2"),
    url(../public/fonts/General-Sans/fonts/GeneralSans-Regular.woff)
      format("woff"),
    url(../public/fonts/General-Sans/fonts/GeneralSans-Regular.ttf)
      format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Giloste";
  src: url(../public/fonts/giloste.ttf) format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.stroketext {
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
}

.herotext {
  font-size: clamp(1.8rem, 5vw, 5rem);
}

.Chillax {
  font-family: "Chillax-Variable", sans-serif;
}

.Giloste {
  font-family: "Giloste", sans-serif;
}

.GeneralSans {
  font-family: "General-Sans", sans-serif;
}

.polaroid {
  width: 240px;
  background: white;
  padding: 12px 12px 40px 12px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.polaroid:nth-child(odd) {
  transform: rotate(-3deg);
}

.polaroid:nth-child(even) {
  transform: rotate(3deg);
}

footer {
  z-index: 1 !important;
}

.curved-section {
  padding-bottom: 50px; /* Add padding to prevent content from being cut off */
  clip-path: circle(68.7% at 50% 27%);
}
